<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="fileLog" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/testing-persistence.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="3000KB"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="#%d{dd-MMM-yyyy HH:mm:ss,SSS} %-5p %-20t - %m%n"/>
        </layout>
    </appender>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="#%d{dd-MMM-yyyy HH:mm:ss,SSS} %-5p %-20t - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="info"/>
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>
